{% extends "layout.html" %}
{% block content %}
<div id="create">
    <form method="POST" class='create'>
        <div class="taskLogo"><h2>Create yout task!</h2></div>
        {% csrf_token %}
        <div class="createName">Task name:<input name="name" type="text"></div>
        <div class="createExplain">Task explanation:<input name="explain" type="text"></div>
        <div class="createDate">Task date:<input name="date" id='date' type="date"></div>
        <div class="createStatus">Status of the task:<select name="status" id=status name="status" id="">
            <option value="complete">complete</option>
            <option value="incomplete" selected>incomplete</option>
        </select></div>
        <div class="createButton"><button type='submit'>Create</button></div>
    </form>
</div>
{% endblock content %}