
{% extends "layout.html" %}

{% block content %}
<div id="create_link">
    Create new <a href="{% url 'create' %}">task</a>
</div>

<div class="dashboardw_welcome"> welcome {{user}}</div>
<div class='tasks' id='taks'>
    <div id="taskHeader">

    </div>
    <div class='task' id='task'>
        <table>
            <tr>
                <th>Task name</th>
                <th>Task explanation</th>
                <th>Task date</th>
                <th>Task status</th>
                
            </tr>
            {% for task in  tasks %}
            <tr>
                <form action="/update/{{task.id}}/" method="post">
                    {% csrf_token %}
                    <td><input name="name" type="text" value="{{task.name}}"></td>
                    <td><input name="explain" type="text" value="{{task.explain}}"></td>
                    <td> <input name="date" type="date" value="{{task.date}}"></td>
                    <td><select name="status" name="status" id="">{{task.status}}
                        <option value="complete" {% if task.status == "complete"%}selected{% endif %}>complete</option>
                        <option value="incomplete" {% if task.status == "incomplete"%}selected{% endif %}>incomplete</option>
                    </select></td>
                    <td><button>Update</button></td>
                </form>
                <td><a href="delete/{{task.id}}"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}