
{% extends "layout.html" %}

{% block content %}
<div id="create_link">
    Create new <a href="{% url 'create' %}">task</a>
</div>

<div class="dashboardw_welcome"> welcome {{user}}</div>
<div class='tasks' id='taks'>
    <div id="taskHeader">

    </div>
    <div class='task' id='task'>
        <table>
            <tr>
                <th>Task name</th>
                <th>Task explanation</th>
                <th>Task date</th>
                <th>Task status</th>
                
            </tr>
            {% for task in  tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.explain}}</td>
                <td>{{task.date}}</td>
                <td> {{task.status}}</td>
                <td><a href="update/{{task.id}}"><button>Update</button></a></td>
                <td><a href="delete/{{task.id}}"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}