{% extends "layout.html" %}


{% block content %}
    <div class='login' id='login'>
        <div class="login_logo" id='login_logo'><h2>Login</h2></div>
        {{ message }}
        <form method="post">
            {% csrf_token %}
            Username:<input type="text" name="username">
            Password:<input type="text" name="password">
            <div><button type="submit">Login</button></div>
        </form>
        <div class="register_reminder">
            Doesn't have an account? <a href="{% url 'register' %}">register</a>
        </div>
    </div>
{% endblock content %}