{% extends "layout.html" %}

{% block content %}
    <div id="register">
        <div class="register_logo"><h2> Please create your acount to start managing your task</h2></div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create account</button>
        </form>
        <div class="login_reminder">
            Have an account? <a href="{% url 'login' %}">login</a>
        </div>
    </div>

{% endblock content %}
